:host {
  .outer-flex-div {
    * {
      margin: 0px;
      font-family: var(--font-family);
    }
    img {
      --img-size: 50vw;
      height: var(--img-size);
      width: var(--img-size);
    }
    #guess-input {
      width: 2ch;
    }
    input {
      font-weight: 900;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    width: 100vw;
    padding-block: 1rem;
    margin: 0px;

    --font-family: 'Courier New', Courier, monospace;
    font-family: var(--font-family);

    .inner-flex-div-1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 5.5rem;
    }

    .inner-flex-div-2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 10rem;

      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin: 0px; 
        padding: 0px;
      }
    }
  }
}